<%= if admin_logged_in?(@conn) do %>
  <li>
    <%= link gettext("Logout"), to: admin_session_path(@conn, :delete, @conn.assigns.locale), method: :delete, class: "btn btn-danger" %>
  </li>
<% end %>
