<h2><%= gettext "New user" %></h2>

<%= render "form.html", changeset: @changeset,
                        user: nil,
                        action: admin_user_path(@conn, :create, @conn.assigns.locale) %>

<%= link gettext("Back"), to: admin_user_path(@conn, :index, @conn.assigns.locale) %>
