<h2><%= gettext "Edit category" %></h2>

<%= render "form.html", changeset: @changeset,
                        category: @category,
                        action: admin_category_path(@conn, :update, @conn.assigns.locale, @category) %>

<%= link gettext("Back"), to: admin_category_path(@conn, :index, @conn.assigns.locale) %>
