<h2><%= gettext "Show tag" %></h2>

<ul>

  <li>
    <strong><%= gettext "Name" %>:</strong>
    <%= translate(@tag, :name) %>
  </li>

  <li>
    <strong><%= gettext "Status" %>:</strong>
    <%= Status.get(@tag.status).text %>
  </li>

</ul>

<%= link gettext("Edit"), to: admin_tag_path(@conn, :edit, @conn.assigns.locale, @tag) %>
<%= link gettext("Back"), to: admin_tag_path(@conn, :index, @conn.assigns.locale) %>
